<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
    <header>
        <h2 class="logo">logo</h2>
        <nav class="nav">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#">마이페이지</a>
            <button class="login_btn">로그인</button>
        </nav>
    </header>

</body>
</html>